header{
    background-color: blue;
}
h1{
    font-family: serif;
}
h2{
    font-family: serif;
}
nav{
    font-weight: bold;
}
div{
    font-size: 20px;

}
section{
    line-height: 1.5;
}
form{
    border: solid;
    border-style: 1px;
    color: gray;
    padding: 10px;
}
p{
    color: green;
}
button{
    background-color: blue;
    color: white;
}