header{
    background-color: blue;
}

h1{
    font-family: serif;
}

h2{
    font-family: serif;
}

nav{
    font-weight: bold;
}

div{
    font-size: 20px;

}

section{
    line-height: 1.5;
}

form{
    border: solid 1px gray;
    padding: 10px;
}

p{
    color: green;
}

button{
    background-color: blue;
    color: white;
}

footer{
    border-top: solid 2px red;
}