
/*Este é um comentário em CSS*/
/*
    Este é um comentário 
    em BLOCO em CSS
*/

/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

/* Tag */
h1 {
    color: #318021;
}

/* Class */
.link {
    color: #318021;
}

ul .link {
    color: #e8240e;
    /* border: 2px solid #e8240e; */
    display: inline;
    margin: 0 3%;

    /* Nesting links */
    a{
        text-decoration: none;
        color: #e8240e;
    }

}

#menu ul{
    text-align: center;
    letter-spacing: 2px;
}

/* ID */
#container {
    width: 80%;
    height: 100%;
    border: 2px solid #000;
    margin: 0 auto;
}